<div class="jumbotron">
	<h2>Sistema de Georeferenciación de Direcciones</h2>
	<p class="lead">
		Se debe subir un archivo xlsx o xls con la lista de direcciones en la primera columna. El archivo de salida será un xlsx con direcciones en la primera columna, las latitudes en la segunda columna y las longitudes en la tercera columna.
	</p>

	<%= form_tag upload_path, multipart: true do %>
		<div class="form-group">
			<%= label_tag 'file', 'Buscar Archivo' %>
			<%= file_field_tag 'file', class: 'form-control' %>
		</div>

	  <%= submit_tag 'Subir Archivo', class: 'btn btn-primary' %>
	<% end %>
</div>
